In [80]:
import pandas as pd
from pycaret.classification import *
from sklearn.metrics import confusion_matrix

In [2]:
clean_data = pd.read_csv('../data/use/data_dropout_59-64(clean_GER).csv')

In [4]:
clean_data['STUDY_STATUS_map'] = clean_data['STUDY_STATUS'].replace('E','R')

In [7]:
clean_data.to_csv('../data/use/use_in/data_dropout_59-64(final_model_GRE_map_E_to_R_keep)',index=False)

In [16]:
clean_data_ = pd.read_csv('../data/use/use_in/data_dropout_59-64(final_model_GRE_map_E_to_R_keep).csv')

In [11]:
test = clean_data_.sample(n=int(0.3*1190),random_state=10)
train = clean_data_.drop(test.index)

In [17]:
test.to_csv('../data/use/use_in/data_dropout_59-64(final_model_GRE_map_E_to_R_keep_test).csv',index=False)
train.to_csv('../data/use/use_in/data_dropout_59-64(final_model_GRE_map_E_to_R_keep_train).csv',index=False)

In [19]:
test

,ADMIT_YEAR,MAJOR_ID,DEPT_ID,DEGREE_ID,STUDY_STATUS,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,IS_GRAD_IN_COURSE,เกรดปี1เทอม1,เกรดปี1เทอม2,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,GPA_SCHOOL,STUDY_STATUS_map
22,2559,216,30,242.0,G,52,52,38.00,1,N,3.18,2.67,2.70,2.47,2.97,3.05,3.57,3.81,3.55,G
943,2561,240,34,243.0,G,58,58,0.00,3,Y,3.19,3.26,2.97,3.25,2.96,4.00,3.83,0.00,3.25,G
855,2561,240,34,243.0,E,62,62,43.75,1,N,2.94,2.54,3.30,3.35,3.50,3.40,0.00,0.00,2.92,R
250,2559,226,31,239.0,G,62,53,35.00,1,N,3.03,1.80,1.86,2.18,2.21,2.55,3.16,3.73,3.33,G
1093,2564,203,193,254.0,E,60,56,23.75,1,N,1.67,1.07,0.00,0.00,0.00,0.00,0.00,0.00,2.97,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2559,240,34,243.0,R,62,62,21.00,1,N,1.50,2.02,2.25,2.08,2.75,2.77,2.85,2.86,2.86,R
240,2559,230,32,233.0,G,62,62,29.00,1,Y,2.09,1.36,3.00,2.07,1.22,2.29,2.28,2.58,3.63,G
954,2562,250,33,238.0,E,54,62,66.25,1,N,2.40,3.23,1.91,2.87,2.92,0.00,0.00,0.00,3.10,R
193,2559,235,33,240.0,G,71,62,28.00,1,Y,2.50,1.60,1.90,2.85,3.15,2.72,3.35,3.43,3.49,G
822,2561,200,193,0.0,E,62,62,31.25,1,N,3.27,2.84,2.78,3.20,0.00,3.36,0.00,0.00,2.67,R

In [35]:
train

,ADMIT_YEAR,MAJOR_ID,DEPT_ID,DEGREE_ID,STUDY_STATUS,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,IS_GRAD_IN_COURSE,เกรดปี1เทอม1,เกรดปี1เทอม2,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,GPA_SCHOOL,STUDY_STATUS_map
0,2559,225,31,228.0,E,61,52,52.00,1,N,2.97,2.30,2.97,3.36,3.60,3.90,3.83,4.00,3.32,R
2,2559,215,30,218.0,G,64,64,20.00,1,Y,2.39,2.80,2.17,2.42,2.68,3.00,4.00,0.00,3.62,G
3,2559,220,29,223.0,G,60,54,39.00,1,Y,2.00,2.88,2.75,3.00,3.13,2.93,3.50,0.00,3.05,G
4,2559,215,30,218.0,G,62,62,37.00,1,Y,2.62,2.15,2.02,2.02,3.07,2.50,3.15,3.80,3.79,G
5,2559,225,31,228.0,E,64,64,37.00,1,N,2.34,2.25,1.65,1.90,2.63,2.63,3.23,3.46,3.71,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1113,2564,214,28,211.0,E,55,62,36.25,1,N,3.75,3.38,0.00,0.00,0.00,0.00,0.00,0.00,3.46,R
1114,2564,226,31,239.0,E,62,62,57.50,1,N,4.00,3.82,0.00,0.00,0.00,0.00,0.00,0.00,3.45,R
1116,2564,216,30,242.0,E,54,54,26.25,1,N,3.00,2.97,0.00,0.00,0.00,0.00,0.00,0.00,3.09,R
1117,2564,200,193,200.0,R,57,57,28.75,1,N,2.40,3.60,0.00,0.00,0.00,0.00,0.00,0.00,3.87,R
1118,2564,226,31,239.0,E,60,56,33.75,1,N,3.34,3.36,0.00,0.00,0.00,0.00,0.00,0.00,3.70,R

In [59]:
use_train = train.drop(['STUDY_STATUS'],axis=1)

In [42]:
n_feature = train.columns.drop(['STUDY_STATUS','STUDY_STATUS_map']).tolist()

In [110]:
s = setup(use_train,target='STUDY_STATUS_map')

In [111]:
models = compare_models()

In [64]:
use_test = test.drop(['STUDY_STATUS'],axis=1)

In [65]:
use_test

,ADMIT_YEAR,MAJOR_ID,DEPT_ID,DEGREE_ID,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,IS_GRAD_IN_COURSE,เกรดปี1เทอม1,เกรดปี1เทอม2,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,GPA_SCHOOL,STUDY_STATUS_map
22,2559,216,30,242.0,52,52,38.00,1,N,3.18,2.67,2.70,2.47,2.97,3.05,3.57,3.81,3.55,G
943,2561,240,34,243.0,58,58,0.00,3,Y,3.19,3.26,2.97,3.25,2.96,4.00,3.83,0.00,3.25,G
855,2561,240,34,243.0,62,62,43.75,1,N,2.94,2.54,3.30,3.35,3.50,3.40,0.00,0.00,2.92,R
250,2559,226,31,239.0,62,53,35.00,1,N,3.03,1.80,1.86,2.18,2.21,2.55,3.16,3.73,3.33,G
1093,2564,203,193,254.0,60,56,23.75,1,N,1.67,1.07,0.00,0.00,0.00,0.00,0.00,0.00,2.97,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2559,240,34,243.0,62,62,21.00,1,N,1.50,2.02,2.25,2.08,2.75,2.77,2.85,2.86,2.86,R
240,2559,230,32,233.0,62,62,29.00,1,Y,2.09,1.36,3.00,2.07,1.22,2.29,2.28,2.58,3.63,G
954,2562,250,33,238.0,54,62,66.25,1,N,2.40,3.23,1.91,2.87,2.92,0.00,0.00,0.00,3.10,R
193,2559,235,33,240.0,71,62,28.00,1,Y,2.50,1.60,1.90,2.85,3.15,2.72,3.35,3.43,3.49,G
822,2561,200,193,0.0,62,62,31.25,1,N,3.27,2.84,2.78,3.20,0.00,3.36,0.00,0.00,2.67,R

In [112]:
predictions = predict_model(models,data=test)

In [113]:
con = confusion_matrix(y_true=predictions['STUDY_STATUS_map'],y_pred=predictions['prediction_label'],labels=['R','G'])

In [114]:
con

array([[134,  12],
       [  7, 204]])

In [121]:
# rt
print('all =',94.68,'%')
print('rt =',50/54*100,'%')
print('gt =',204/211*100,'%')

all = 94.68 %
rt = 92.5925925925926 %
gt = 96.6824644549763 %

In [115]:
predictions[(predictions['STUDY_STATUS'] == 'R') & (predictions['prediction_label'] == 'G')]

,ADMIT_YEAR,MAJOR_ID,DEPT_ID,DEGREE_ID,STUDY_STATUS,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,IS_GRAD_IN_COURSE,...,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,GPA_SCHOOL,STUDY_STATUS_map,prediction_label,prediction_score
9,2560,240,34,243.0,R,59,59,0.0,3,N,...,1.12,2.05,0.97,1.50,2.88,3.29,3.37,R,G,0.9484
208,2561,240,34,243.0,R,64,64,0.0,3,N,...,1.14,1.22,2.00,1.53,1.32,1.71,2.21,R,G,0.5894
237,2560,240,34,243.0,R,64,54,0.0,3,N,...,1.30,1.67,1.65,1.84,2.00,1.07,2.90,R,G,0.8487
247,2559,215,30,218.0,R,60,56,21.0,1,Y,...,3.47,3.27,3.47,0.00,3.73,0.00,3.77,R,G,0.9143

In [117]:
predictions[(predictions['STUDY_STATUS'] == 'G') & (predictions['prediction_label'] == 'G')]

,ADMIT_YEAR,MAJOR_ID,DEPT_ID,DEGREE_ID,STUDY_STATUS,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,IS_GRAD_IN_COURSE,...,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,GPA_SCHOOL,STUDY_STATUS_map,prediction_label,prediction_score
0,2559,216,30,242.0,G,52,52,38.0,1,N,...,2.70,2.47,2.97,3.05,3.57,3.81,3.55,G,G,0.7997
1,2561,240,34,243.0,G,58,58,0.0,3,Y,...,2.97,3.25,2.96,4.00,3.83,0.00,3.25,G,G,0.9925
3,2559,226,31,239.0,G,62,53,35.0,1,N,...,1.86,2.18,2.21,2.55,3.16,3.73,3.33,G,G,0.9631
7,2559,225,31,228.0,G,62,62,26.0,1,Y,...,2.30,3.08,0.13,2.50,1.82,1.67,3.88,G,G,0.9975
8,2559,250,33,238.0,G,62,62,39.0,1,Y,...,2.20,1.34,2.42,0.75,2.69,0.96,2.51,G,G,0.5997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,2560,215,30,218.0,G,54,54,35.0,1,Y,...,2.00,2.41,3.20,3.13,3.50,3.50,3.28,G,G,0.9986
350,2560,215,30,218.0,G,53,53,40.0,1,Y,...,2.86,2.10,2.58,2.65,2.81,0.00,3.08,G,G,0.9988
351,2559,216,30,242.0,G,62,62,43.0,1,Y,...,2.80,2.56,2.97,2.19,2.86,3.25,3.80,G,G,0.9982
353,2559,230,32,233.0,G,62,62,29.0,1,Y,...,3.00,2.07,1.22,2.29,2.28,2.58,3.63,G,G,0.9970
355,2559,235,33,240.0,G,71,62,28.0,1,Y,...,1.90,2.85,3.15,2.72,3.35,3.43,3.49,G,G,0.9933

In [118]:
save_model(models,'model_top_no_STILL_STUDENT_2Class_map_E_to_R_year')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=/tmp/joblib),
          steps=[('clean_column_names',
                  TransformerWrapper(exclude=None, include=None,
                                     transformer=CleanColumnNames(match='[\\]\\[\\,\\{\\}\\"\\:]+'))),
                 ('label_encoding',
                  TransformerWrapperWithInverse(exclude=None, include=None,
                                                transformer=LabelEncoder())),
                 ('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     includ...
                                             criterion='friedman_mse', init=None,
                                             learning_rate=0.1, loss='log_loss',
                                             max_depth=3, max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100,
                                             n_iter_no_change=None,
                                             random_state=8644, subsample=1.0,
                                             tol=0.0001, validation_fraction=0.1,
                                             verbose=0, warm_start=False))],
          verbose=False),
 'model_top_no_STILL_STUDENT_2Class_map_E_to_R_year.pkl')